:root {
  --color1: #8F6253; 
  --color2: #D8C4B7; 
  --color3: #4B322A; 
  --color4: #BD9D87; 
  --color5: #FFFFFF; 
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color4);
    color: var(--color3);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .back-to-top:hover {
    background-color: var(--color1);
  }
  
  .back-to-top:focus {
    outline: none;
  }