:root {
    --color1: #8F6253; 
    --color2: #D8C4B7; 
    --color3: #4B322A; 
    --color4: #BD9D87; 
    --color5: #FFFFFF; 
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--color3);
    color: var(--color5);
    padding: 1em; 
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contact img {
    width: 30px;
    height: 30px;
}


@media (min-width:760px){
    .footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }
}